.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    outline: none;
    cursor: pointer;
    padding: 0;
    background: transparent;
}

.btn-paginate {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}
